/* leather radiobutton */

/* .input-leather {
  margin-left: 20px;
}

.input-suede {
  margin-left: 20px;
} */

/* laces radiobutton */

/* .laces-section {
  text-align: left;
  padding: 20px 40px 0px;
  margin: 20px 0px;
}

.input-laces {
  margin-left: 20px;
} */

/* .input-laceless {
  margin-left: 20px;
} */

/* price dropdown */

/* ----------------------------------------------- */

.single-info-size-container {
    /* display: inline-block;
    width: 10%;
    font-size: 16px;
    height: 100%;
    vertical-align: middle; */
    /* width: 20%;
    float: right; */
}

/* ----------------------------------------------- */

/* .single-info-cart-button {
  font-size: 16px;
  line-height: 38px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
} */

/* ----------------------------------------------- */

.inner-main-container {
    /* height: 150px;
    line-height: 150px; */
    /* padding: 0px 50px; */
}

/* ----------------------------------------------- */

/* .checkout-image {
  padding-left: 30px;
}

.cart-shoe-info-container {
  width: 20%;
  display: inline-block;
  height: 250px;
}

.count-container {
  width: 50%;
  float: right;
}

.inner-count-container {
  height: 60px;
  line-height: 60px;
  padding-top: 20px;
}

.delete-container {
  width: 40%;
  float: right;
}

.inner-delete-container {
  height: 40px;
  line-height: 40px;
  padding-top: 5px;
}

.increase-descrease-container {
  width: 60%;
  float: right;
}

.inner-increase-descrease-container {
  height: 40px;
  line-height: 40px;
  font-family: 'helveticaneuelight';
}

.increase-button {
  width: 35px;
  height: 35px;
  background-color: #FFFFFF;
  border: 1px solid grey;
  border-radius: 10%;
  cursor: pointer;
  text-align: center;
  margin-left: 11px;
}

button.descrease-button {
  width: 35px;
  height: 35px;
  background-color: #FFFFFF;
  border: 1px solid grey;
  border-radius: 10%;
  cursor: pointer;
  text-align: center;
  margin-right: 11px;
} */

/* ----------------------------------------------- */

.increase-descrease-container {
    /* width: 58%;
    float: left; */
}

/* ----------------------------------------------- */

/* .statement-container {
  display: block;
  width: 100%;
  height: 70px;
} */

/* ----------------------------------------------- */

/* .image-float {
      display: none;
  } */

/* ----------------------------------------------- */

/* .single-info-size-container {
      display: block;
      width: 100%;
      font-size: 16px;
      height: 100%;
      vertical-align: middle; 
      float: left;
  }  */

/* ----------------------------------------------- */

.modal-single-info-cart-container {
    /* position: absolute; */
    /* top: 0%;
      right: -28%; */
    /* width: 100%; */
    /* font-size: 14px;
      margin: 10px; */
}

/* ----------------------------------------------- */

/* .image-float {
      display: none;
  } */

/* ----------------------------------------------- */

/* .single-image {
      margin: 0 auto;
      max-width: 1095px;
  } */

/* ----------------------------------------------- */

/* .inner-buttons-container {
      display: flex;
  } */

/* ----------------------------------------------- */

/* .single-info-size-button {
      width: 12.5%;
      height: 40px;
      line-height: 40px;
      float: right;
  }

  .single-info-size {
      text-align: center;
      border-radius: 20px;
      border: 1px solid gray;
      width: 66px;
      font-family: 'helveticaneuelight';
      cursor: pointer;
      font-size: 16px;
  } */

/* ----------------------------------------------- */

/* .single-info-cart-container {
      width: 29%;
      height: 42px;
      line-height: 42px;
      float: right;
  }

  .single-info-cart {
      text-align: center;
      border-radius: 20px;
      border: 1px solid #FC596B;
      text-transform: uppercase;
      background-color: #FC596B;
      outline: none;
      width: 164px;
      font-size: 16px;
      color: #fff;
      font-family: 'helveticaneuelight';
  } */

/* ----------------------------------------------- */

.inner-manufacture-container {
    /* text-align: center;
      font-size: 13.5px;
      height: 75px;
      line-height: 56px;
      margin-bottom: 0px; */
}

/* ----------------------------------------------- */

.inner-single-info-text-container {
    /* height: 200px; */
}

/* ----------------------------------------------- */

/* .statement-container {
      display: block;
      width: 100%;
      height: 70px;
  } */

/* ----------------------------------------------- */

/* .statement-container {
      display: block;
      width: 100%;
      height: 70px;
  } */

/* ----------------------------------------------- */

/* .single-image {
      margin: 0 auto;
      max-width: 1095px;
  } */

/* ----------------------------------------------- */

/* .inner-buttons-container {
      display: flex;
  } */

/* ----------------------------------------------- */

/* .single-info-size-button {
      width: 12.5%;
      height: 40px;
      line-height: 40px;
      float: right;
  }

  .single-info-size {
      text-align: center;
      border-radius: 20px;
      border: 1px solid gray;
      width: 66px;
      font-family: 'helveticaneuelight';
      cursor: pointer;
      font-size: 16px;
  } */

/* ----------------------------------------------- */

/* .single-info-cart-container {
      width: 29%;
      height: 42px;
      line-height: 42px;
      float: right;
  }

  .single-info-cart {
      text-align: center;
      border-radius: 20px;
      border: 1px solid #FC596B;
      text-transform: uppercase;
      background-color: #FC596B;
      outline: none;
      width: 164px;
      font-size: 16px;
      color: #fff;
      font-family: 'helveticaneuelight';
  } */

/* ----------------------------------------------- */

.inner-manufacture-container {
    /* text-align: center;
      font-size: 13.5px;
      height: 75px;
      line-height: 56px;
      margin-bottom: 0px; */
}

/* ----------------------------------------------- */

.inner-single-info-text-container {
    /* height: 200px; */
}

/* ----------------------------------------------- */