@font-face {
    font-family: 'libre_franklinlight';
    src: url('./fonts/librefranklin-light-webfont.woff2') format('woff2'),
        url('./fonts/librefranklin-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinlight_italic';
    src: url('./fonts/librefranklin-lightitalic-webfont.woff2') format('woff2'),
        url('./fonts/librefranklin-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinmedium';
    src: url('./fonts/librefranklin-medium-webfont.woff2') format('woff2'),
        url('./fonts/librefranklin-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinmedium_italic';
    src: url('./fonts/librefranklin-mediumitalic-webfont.woff2') format('woff2'),
        url('./fonts/librefranklin-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinregular';
    src: url('./fonts/librefranklin-regular-webfont.woff2') format('woff2'),
        url('./fonts/librefranklin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinsemibold';
    src: url('./fonts/librefranklin-semibold-webfont.woff2') format('woff2'),
        url('./fonts/librefranklin-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinsemibold_italic';
    src: url('./fonts/librefranklin-semibolditalic-webfont.woff2') format('woff2'),
        url('./fonts/librefranklin-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinthin';
    src: url('./fonts/librefranklin-thin-webfont.woff2') format('woff2'),
        url('./fonts/librefranklin-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinthin_italic';
    src: url('./fonts/librefranklin-thinitalic-webfont.woff2') format('woff2'),
        url('./fonts/librefranklin-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'libre_franklinblack';
    src: url('./fonts/librefranklin-black-webfont.woff2') format('woff2'),
        url('./fonts/librefranklin-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinblack_italic';
    src: url('./fonts/librefranklin-blackitalic-webfont.woff2') format('woff2'),
        url('./fonts/librefranklin-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinbold';
    src: url('./fonts/librefranklin-bold-webfont.woff2') format('woff2'),
        url('./fonts/librefranklin-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinbold_italic';
    src: url('./fonts/librefranklin-bolditalic-webfont.woff2') format('woff2'),
        url('./fonts/librefranklin-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinextrabold';
    src: url('./fonts/librefranklin-extrabold-webfont.woff2') format('woff2'),
        url('./fonts/librefranklin-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinXBdIt';
    src: url('./fonts/librefranklin-extrabolditalic-webfont.woff2') format('woff2'),
        url('./fonts/librefranklin-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinextralight';
    src: url('./fonts/librefranklin-extralight-webfont.woff2') format('woff2'),
        url('./fonts/librefranklin-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinXLtIt';
    src: url('./fonts/librefranklin-extralightitalic-webfont.woff2') format('woff2'),
        url('./fonts/librefranklin-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_franklinitalic';
    src: url('./fonts/librefranklin-italic-webfont.woff2') format('woff2'),
        url('./fonts/librefranklin-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'md_primer_testblack';
    src: url('./fonts/mdprimertest-black-webfont.woff2') format('woff2'),
        url('./fonts/mdprimertest-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'md_primer_testbold';
    src: url('./fonts/mdprimertest-bold-webfont.woff2') format('woff2'),
        url('./fonts/mdprimertest-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'md_primer_testlight';
    src: url('./fonts/mdprimertest-light-webfont.woff2') format('woff2'),
        url('./fonts/mdprimertest-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'md_primer_testmedium';
    src: url('./fonts/mdprimertest-medium-webfont.woff2') format('woff2'),
        url('./fonts/mdprimertest-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'md_primer_testregular';
    src: url('./fonts/mdprimertest-regular-webfont.woff2') format('woff2'),
        url('./fonts/mdprimertest-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'md_primer_testsemibold';
    src: url('./fonts/mdprimertest-semibold-webfont.woff2') format('woff2'),
        url('./fonts/mdprimertest-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'helveticaneueheavy';
    src: url('./fonts/helveticaneuehv-webfont.woff2') format('woff2'),
        url('./fonts/helveticaneuehv-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneueitalic';
    src: url('./fonts/helveticaneueit-webfont.woff2') format('woff2'),
        url('./fonts/helveticaneueit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'helveticaneueultralight';
    src: url('./fonts/helveticaneueultralightv130-webfont.woff2') format('woff2'),
        url('./fonts/helveticaneueultralightv130-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuelight';
    src: url('./fonts/light-webfont.woff2') format('woff2'),
        url('./fonts/light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'arconregular';
    src: url('./fonts/arcon-regular-webfont.woff2') format('woff2'),
        url('./fonts/arcon-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewayextralight';
    src: url('./fonts/raleway-extralight-webfont.woff2') format('woff2'),
        url('./fonts/raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight_italic';
    src: url('./fonts/raleway-extralightitalic-webfont.woff2') format('woff2'),
        url('./fonts/raleway-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayitalic';
    src: url('./fonts/raleway-italic-webfont.woff2') format('woff2'),
        url('./fonts/raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('./fonts/raleway-light-webfont.woff2') format('woff2'),
        url('./fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight_italic';
    src: url('./fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
        url('./fonts/raleway-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium';
    src: url('./fonts/raleway-medium-webfont.woff2') format('woff2'),
        url('./fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('./fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
        url('./fonts/raleway-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayregular';
    src: url('./fonts/raleway-regular-webfont.woff2') format('woff2'),
        url('./fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaysemibold';
    src: url('./fonts/raleway-semibold-webfont.woff2') format('woff2'),
        url('./fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaysemibold_italic';
    src: url('./fonts/raleway-semibolditalic-webfont.woff2') format('woff2'),
        url('./fonts/raleway-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaythin';
    src: url('./fonts/raleway-thin-webfont.woff2') format('woff2'),
        url('./fonts/raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaythin_italic';
    src: url('./fonts/raleway-thinitalic-webfont.woff2') format('woff2'),
        url('./fonts/raleway-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'poppinsextralight';
    src: url('./fonts/poppins-extralight-webfont.woff2') format('woff2'),
        url('./fonts/poppins-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsextralight_italic';
    src: url('./fonts/poppins-extralightitalic-webfont.woff2') format('woff2'),
        url('./fonts/poppins-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinslight';
    src: url('./fonts/poppins-light-webfont.woff2') format('woff2'),
        url('./fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinslight_italic';
    src: url('./fonts/poppins-lightitalic-webfont.woff2') format('woff2'),
        url('./fonts/poppins-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsmedium';
    src: url('./fonts/poppins-medium-webfont.woff2') format('woff2'),
        url('./fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsmedium_italic';
    src: url('./fonts/poppins-mediumitalic-webfont.woff2') format('woff2'),
        url('./fonts/poppins-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsregular';
    src: url('./fonts/poppins-regular-webfont.woff2') format('woff2'),
        url('./fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinssemibold';
    src: url('./fonts/poppins-semibold-webfont.woff2') format('woff2'),
        url('./fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinssemibold_italic';
    src: url('./fonts/poppins-semibolditalic-webfont.woff2') format('woff2'),
        url('./fonts/poppins-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsthin';
    src: url('./fonts/poppins-thin-webfont.woff2') format('woff2'),
        url('./fonts/poppins-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsthin_italic';
    src: url('./fonts/poppins-thinitalic-webfont.woff2') format('woff2'),
        url('./fonts/poppins-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsbold';
    src: url('./fonts/poppins-bold-webfont.woff2') format('woff2'),
        url('./fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}